body {
    background-color: #DFEBED
}

hr {
    background-color: #DFEBED;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
}

h1, h3 {
    color:#2B4450
}